.accounts-list{
    // width: fit-content;
    // display: inline-flex;
}
.mat-card{
    margin:10px;
    // flex-wrap: nowrap;
    // flex-basis: auto;
}
.action-buttons{
    right: 0px;
    position:absolute;
    width: fit-content;
}
table {
    width: 100%;
  } 